<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your name.." formControlName="firstname">
      <!-- <div *ngIf="reactiveForm.get('firstname').touched && reactiveForm.get('firstname').invalid">
        <small>Firstname should be of at least five characters.</small>
      </div> -->
      <div>
        <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['required'] && reactiveForm.get('personalDetails.firstname').touched">Firstname is a required field.</small>
        <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['noSpaceAllowed']">Firstname cannot contain a space.</small>
      </div>

      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your last name.." formControlName="lastname">
      

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your last email.." formControlName="email">
      <div *ngIf="reactiveForm.get('personalDetails.email').invalid && reactiveForm.get('personalDetails.email').touched">
        <small>The email you entered is not a valid email.</small>
      </div>

    </div>
    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <span *ngFor="let gen of gender">
      <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" formControlName="gender">
      <label for="male">{{gen.value}}</label>
    </span>
    <br><br>
    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" formControlName="hobbies"> Sports</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies"> Movies</label>
      <label><input type="checkbox" value="music" formControlName="hobbies"> Music</label>
    </div>

    <div formArrayName="skills">
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i">
        <input type="text" placeholder="Add skill.." formControlName="{{ i }}">
      </ng-container>
      <button (click)="addSkill()">Add skill..</button>
    </div>

    <input type="submit" value="Submit" id="btn">
  </form>
</div>

<!-- <div class="form-data">
  <h3>Form Data</h3>
  <p>First Name: <b>{{firstname}}</b></p>
  <p>Last Name: <b>{{lastname}}</b></p>
  <p>Email: <b>{{email}}</b></p>
  <p>Country: <b>{{country}}</b></p>
  <p>Gender: <b>{{gen}}</b></p>
</div> -->